<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang show</title>
</head>
<body class="container">
<% include css %>
<%- include nav %>
<article class="mt-5">
    <h1><%= data.tenAnh%></h1>
    <p class="text-lg-start te"><%= data.ndAnh%></p >
    <img class="imgm" src="<%= data.linkAnh%>">
    <a class="tm" href="/xem">Download</a>
</article>
</body>
</html>